<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Group</title>
</head>
<body>
    <h1>Join Group</h1>
    <form method="post">
        <label for="entered_code">Enter code</label>
        <input type="text" name="entered_code" required>
        <br>
        <label for="user_name">Enter name</label>
        <input type="text" name="user_name" required>
        <br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>
